body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    background-image: url(../img/pattern.png);
    height: 130px;
    background-color: rgb(78, 160, 255);
    background-size:35%;
}

#logo{
    width: 200px;
    margin-top: 60px;
}

#titolo{
    font-size: 50px;
    margin-bottom: 1px;
}

.blue{
    color:rgb(88, 174, 231);
}

#autore{
    margin-bottom: 5px;
}

#data{
    font-size: 10px;
    margin-bottom: 30px;
}

.descrizione{
    font-size: 10px;
}

.evidenziato{
    background-color: yellow;
}

.spiegzione{
    margin-bottom: 30px;
    margin-top: 30px;
}

.table{
    
}

.table-blu{
    background-color: rgb(33, 168, 229);
}

.table-body{
    background-color: rgb(178, 228, 242);
}