body {
	margin: 0;
}

main {
	margin: 10px;
}

footer {
	margin: 10px;
}

p {
	margin-top: 0;
	line-height: 1.2;
}

ul {
	padding-left: 20px;
}

li {
	line-height: 1.2;
}

table {
	border: none;
	border-collapse: separate;
	border-spacing: 0px;
}

tr {
	text-align: left;
	height: 55px;
}
tr:nth-child(even) {
	background-color: rgba(88, 174, 231, 0.4);
}

tr:first-child {
	background-color: rgb(88, 174, 231);
	height: 20px;
	color: white;
}

.container {
	background-image: url(../img/pattern.png);
	height: 130px;
	background-color: rgb(78, 160, 255);
	background-size: 35%;
}

.logo {
	width: 200px;
	margin-top: 60px;
	margin-left: 10px;
}

.title {
	font-size: 48px;
	margin-bottom: 1px;
	line-height: 1.2;
}

.author {
	margin-bottom: 0;
	font-size: 18px;
	color: gray;
}

.date {
	font-size: 14px;
	margin-bottom: 30px;
	color: gray;
}

.description {
	font-size: 14px;
	margin-bottom: 0;
}

.highlighted {
	background-color: yellow;
}

.text {
	margin-bottom: 30px;
	margin-top: 30px;
}

.first-cell {
	width: 25%;
}

.second-cell {
	width: 25%;
}

.last-paragraph {
	margin-top: 30px;
	margin-bottom: 30px;
}

.correlati {
	color: grey;
	font-weight: 800;
}
.wrapper-image {
	position: relative;
}
.top-left {
	position: absolute;
	top: 0;
	left: 16px;
	color: white;
}
